<h2>Shelter Index Page</h2>

<table class='table table-striped'>
  <thead>
    <th><%= sort_by :id %></th>
    <th><%= sort_by :name %></th>
    <th><%= sort_by :city %></th>
    <th>Phone</th>
  </thead>
  <tbody>
    <%- @shelters.each do |shelter| -%>
      <tr>
        <td><%= shelter.id %></td>
        <td><%= shelter.name %></td>
        <td><%= shelter.city %></td>
        <td><%= shelter.phone %></td>
        <td><%= link_to "view details", shelter %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>